$font-path: "../assets/fonts";

$app-direction: ltr;


@import "ionic.globals";

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  nav_top_bottom: #435d8c
);

$searchbar-ios-background-color: none;
$searchbar-md-input-border-radius: 30px;
$toolbar-background: color($colors, nav_top_bottom);

$tabs-background: color($colors, nav_top_bottom);
$tabs-tab-color-active: color($colors, light);
$tabs-tab-color: color($colors, light);
$tabs-tab-text-color: color($colors, light);


@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
